//%img1 { background: url(../images/temp.png); }
// %img2 { background: url(../images/temp.png); }
// @mixin img3 {  background: url(../images/temp.png);}

//%img1{background:url(../images/d-people.png) no-repeat}
//%img2{border-image:url(../images/d-lottery.png) 10 10 round}
//%img6{background:#fae7bf url(../images/pic8.png) left bottom repeat-x}
//%img8{background: url(../images/sBg02.png)}
//%img9{background: #cd1f1a url(../images/sBg01.png)}
//%img10{background: #b20c08 url(../images/d_icon_tel.png) 5px center no-repeat}
//%img11{background: url(../images/sBg03.png)}
//%img12{ background: url(../images/sBg06.png) 0 0 no-repeat}
//%img13{background: url(../images/sBg08.png) no-repeat}
//%img14{background: url(../images/sDot.png) 2px 0 repeat-x}
//%img15{background: url(../images/sBg07.png) no-repeat}
//%img16{background: url(../images/pan.png) no-repeat}
//%img17{background: url(../images/rotate-static.png) no-repeat}
//%img18{background: url(../images/sBg04.png) right 0 no-repeat}
//%img19{background: url(../images/sBg05.png) right top no-repeat}
//%img20{background:url(../images/tp_not_i.png) no-repeat 9px 3px #ff5952}
//%img21{background: url(../images/tp_tip.png) no-repeat left 0}
//%img22{background:url(../images/tp_suc_i.png) no-repeat 7px 9px #ff7200}
//%img23{background: url(../images/td04_sec_h3_t.jpg) repeat-x transparent}
//%img24{background-image: url(../images/td04_sec_h3_b.jpg)}
//%img25{background:url(../images/tp_arrow.png) no-repeat 5px 2px #f86a77}
//%img26{background: url(../images/t_icon.png) no-repeat}

%img1{background:url(http://src.house.sina.com.cn/imp/imp/deal/98/b9/2/ed7e3e145a0159a43f24cf924cc_p10_mk10.png) no-repeat}
%img2{border-image:url(http://src.house.sina.com.cn/imp/imp/deal/c9/56/c/12fee39f1f0dddf73036e51bfc8_p10_mk10.png) 10 10 round}
%img6{background:#fae7bf}
%img8{background: url(http://src.house.sina.com.cn/imp/imp/deal/0a/8a/2/819e255787f7ed7574dd4fcb9f8_p10_mk10.png)}
%img9{background: #cd1f1a url(http://src.house.sina.com.cn/imp/imp/deal/58/ba/6/7c46e34e3c610d90ee72dbd6980_p10_mk10.png)}
%img10{background: #b20c08 url(http://src.house.sina.com.cn/imp/imp/deal/2b/31/8/20796ddb14ce807d2442f923ec0_p10_mk10.png) 5px center no-repeat}
%img11{background: url(http://src.house.sina.com.cn/imp/imp/deal/48/50/b/e143e2893eb1c5f97b79ce61bac_p10_mk10.png)}
%img12{ background: url(http://src.house.sina.com.cn/imp/imp/deal/66/b4/9/7aa3238006c05d882dd59ae30ad_p10_mk10.png) 0 0 no-repeat}
%img13{background: url(http://src.house.sina.com.cn/imp/imp/deal/6e/d0/7/8eeaf478f075e1d8ed50f03e0bf_p10_mk10.png) no-repeat}
%img14{background: url(http://src.house.sina.com.cn/imp/imp/deal/a9/ea/3/0adca79682f23bc1ff572ecce7f_p10_mk10.png) 2px 0 repeat-x}
%img15{background: url(http://src.house.sina.com.cn/imp/imp/deal/0d/92/d/b9fa6698e3f8f18e829a4c18934_p10_mk10.png) no-repeat}
%img16{background: url(http://src.house.sina.com.cn/imp/imp/deal/f1/af/9/5577297f64ffb3097bb21846498_p10_mk10.png) no-repeat}
%img17{background: url(http://src.house.sina.com.cn/imp/imp/deal/c6/1a/9/1778242e275b10a4527f2fd3d2f_p10_mk10.png) no-repeat}
%img18{background: url(http://src.house.sina.com.cn/imp/imp/deal/42/b4/c/c2cf5c2a835e5c939be2e94de27_p10_mk10.png) right 0 no-repeat}
%img19{background: url(http://src.house.sina.com.cn/imp/imp/deal/ae/c2/4/fda0d88ee1572bb735a240b6591_p10_mk10.png) right top no-repeat}
%img20{background:url(http://src.house.sina.com.cn/imp/imp/deal/50/c4/6/aabd8547f054c1a85d83d6e19eb_p10_mk10.png) no-repeat 9px 3px #ff5952}
%img21{background: url(http://src.house.sina.com.cn/imp/imp/deal/ff/63/6/80564cb74d158378d0e610803fa_p10_mk10.png) no-repeat left 0}
%img22{background:url(http://src.house.sina.com.cn/imp/imp/deal/da/f6/8/f3b8d6731a4ae75897b2aa1a28d_p10_mk10.png) no-repeat 7px 9px #ff7200}
%img23{background: url(http://src.house.sina.com.cn/imp/imp/deal/cf/a4/6/ceabe5f2b1052b6938f9208b6aa_p10_mk10.jpg) repeat-x transparent}
%img24{background-image: url(http://src.house.sina.com.cn/imp/imp/deal/f5/df/2/88d75c2fc97e1d7ec3055c58177_p10_mk10.jpg)}
%img25{background:url(http://src.house.sina.com.cn/imp/imp/deal/74/51/6/5c45715475b521489491af0ace7_p10_mk10.png) no-repeat 5px 2px #f86a77}
%img26{background: url(http://src.house.sina.com.cn/imp/imp/deal/0f/1b/5/93bc34969775c2dc1a9a5824085_p10_mk10.png) no-repeat}
