@charset "utf-8";
/*首页*/
.d-bgc-1{
	background-color: #ffdf44;
}

.d-bgc-2{
	background-color: #ffdf44;
	padding-bottom: 20px;
}

.d-content{
	position: relative;
	z-index: 1;
	.d-content-img{
		width: 100%;
		vertical-align: middle;
	}
	.d-people-img{
		position: absolute;
		z-index: 3;
		left:50%;
		bottom: 110px;
		margin-left:-34px;
		width: 77px;
		height: 110px;
		@extend %img1;
		background-size: 77px 110px;
		img{
			width: 64px;
			height: 64px;
			margin:5px auto 0;
			display: block;
			border-radius: 32px;
		}
	}
	.d-btn{
		position: absolute;
		z-index: 3;
		left:50%;
		bottom:60px;
		display: block;
		width: 157px;
		margin-left:-78px;
		height: 38px;
		line-height: 38px;
		text-align: center;
		color: #fff;
		font-size: 16px;
		text-shadow:0 2px 1px #ea341a;
		border-radius: 20px;
		background-color: #ff614b;
		border:1px solid #e1520b;
		box-shadow:0 2px 0 #c41a02;
	}
	.d-tips,.d-msg{
		position: absolute;
		z-index: 3;
		width: 100%;
		bottom: 20px;
		text-align: center;
		color: #582924;
		font-size: 12px;
	}
	.d-msg{
		color: #582924;
		font-size: 18px;
		span{
			color: #fa2f29;
		}
	}
	.d-tips-2{
		text-align: center;
		color: #875b56;
		margin:10px 0;
	}
	.d-get{
		position: absolute;
		z-index: 3;
		left:50%;
		bottom: 10px;
		margin-left:-50px;
		text-align: center;
		color: #e73c21;
		width: 100px;
		height: 30px;
		line-height: 30px;
		span:after{
			border-color: #e73c21 #e73c21 transparent transparent;
			border-style: solid;
			border-width: 2px;
			content: "";
			height: 5px;
			position: absolute;
			right: 12px;
			top: 11px;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			width: 5px;
		}
	}
	.d-tips-od{
		bottom: 100px;
		font-size: 12px;
	}
	.d-btn-od{
		width:220px; 
		margin-left: -110px;
	}
}

.d-h5{
	position: absolute;
	z-index: 2;
	top:12%;
	left:43px;
	font-size: 18px;
	color: #900d09;
	-webkit-transform: rotate(-7deg);
}

.d-content .d-h6{
	position: absolute;
	z-index: 2;
	top:39.5%;
	left:33px;
	font-size: 10px;
	color: #ff7a76;
	-webkit-transform: rotate(-10deg);
}

.d-bgc-2 .d-h6{
	top:37%;
}

.d-copyright{
	padding:5px 0;
	color: #fff;
	font-size: 11px;
	text-align: center;
	background-color: #de9f17;
}

.d-copyright-od{
	position: fixed;
	width: 100%;
	z-index:5;
	bottom: 0;
	padding:5px 0;
	color: #fff;
	font-size: 11px;
	text-align: center;
	background-color: #de9f17;
}

.d-content-od .d-h6{
	top:36%;
}

.d-lottery{
	padding:15px;
	.d-lottery-box{
		position: relative;
		z-index: 1;
		padding:15px 0;
		/*border-top:2px dotted #f1c031;
		border-bottom:2px dotted #f1c031;
		border:5px solid #f1c031;*/
		@extend %img2;
		span{
			position: absolute;
			z-index: 2;
			left:-5px;
			top:-14px;
			color: #fff;
			padding:1px 10px;
			border-radius: 10px;
			background-color: #de9f17;
			font-size: 12px;
		}
	}
}
.d-lottery-none{
	padding:0;
	.d-lottery-box{border: 5px solid #ff614b;@extend %img2;
	 span{
			background-color: #ff614b;
		}
	}
}
.d-lottery-list{position: relative;height: 40px;overflow-y:hidden;font-size: 12px;
	div{
		div{
			width: 50%;
			float: left;
			font-size: 12px;
			margin-top: 10px;
			color: #875b56;
			p{
				padding-right: 10px;
				height: 12px;
				line-height: 12px;
				overflow: hidden;
			}
		}
	}
}
.d-lottery-list-container{
	position: absolute;left:0;top:0;
	width:100%;
}
.d-friends{
	padding:0 15px 0;
}
.d-friends-box{
	padding-bottom: 15px;
	h3{
		padding:10px;
		background-color: #875b56;
		color: #fff;
		font-size: 14px;
	}
	.d-friends-word{
		background-color: #fff;
		padding-left: 10px;
		.d-friends-view{
			position: relative;
			padding:10px 0;
			border-bottom: 1px solid #f0f0f0;
		}
		.d-friends-img{
			position: absolute;
			z-index: 2;
			width: 40px;
			height: 40px;
			border-radius: 20px;
		}
		h4,p{
			margin-left:50px;
			font-size: 14px;
			color: #333;
			cite{
				margin-left: 30px;
				color: #ccc;
				font-size: 10px;
			}
		}
		p{
			font-size: 12px;
			color: #999;
			i{
				color: #fe4e36;
				font-style: normal;
			}
			.d-i1{
				color: #6390d4;
			}
		}
		.d-right,.d-a1{	
			position: absolute;
			right: 10px;
			top:10px;
			display: block;
			width: 60px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			border-radius: 10px;
			color: #f48500;
			background-color: #ffde90;
		}
		.d-a1{
			background-color: #c4d8f7;
			color: #6084bd;
		}
		.d-icon{
			position: absolute;
			z-index: 3;
			left:20px;
			top:40px;
		}
		.d-more{
			display: block;
			text-align: center;
			color: #c4c4c4;
			padding:10px 0;
			span{
				position: relative;
			}
			span:after{
				border-color: #e3e3e3 #e3e3e3 transparent transparent;
				border-style: solid;
				border-width: 2px;
				content: "";
				height: 4px;
				position: absolute;
				right: -12px;
				top: 5px;
				transform: rotate(135deg);
				-webkit-transform: rotate(135deg);
				-moz-transform: rotate(135deg);
				-ms-transform: rotate(135deg);
				width: 4px;
			}
		}
	}
}

.d-content-od{
	padding-bottom: 50px;
	.d-people-img{
		bottom:150px;
	}
	.d-btn{
		bottom:50px;
		width: 268px;
		margin-left:-134px;
	}
}

/*中奖提交和工作人员输入密码*/
/*List Page
-------------------------------------------------------*/
body.red{
	background: #bc001f;
	padding-top: 0;
}
.v_message { padding:10px; font-size:16px; color:#906d34; }
.v_message .v_icon_2 { position:absolute; left:-5px; top:0; display:inline-block; width:5px; height:10px; background-size:5px 10px; }
.v_message .v_icon_3 { position:relative; display:inline-block; width:100%; height:10px;background-size:100% 10px; }
.v_message .v_icon_4 { position:absolute; right:-5px; top:0; display:inline-block; width:5px; height:10px; background-size:5px 10px; }
.v_message .v_mses_list { padding:13px; @extend %img6; background-size:10px 4px; }
.v_message em { color:#fc2c49; }
.v_message .v_p5 { font-size:14px; color:#fae7bf;margin:10px 0;}
.v_message .v_p6 { margin-bottom:10px; }
.v_message .v_Info { border-radius:5px; background:#5a0714; padding:10px; }
.v_message .v_boxshaw1 { display:block; border-radius:8px 8px 0 0; border-bottom:1px solid #7d2332; background:#5a0714; overflow:hidden; }
.v_message .v_boxshaw2 { display:block; border-radius:0 0 8px 8px; border-bottom:1px solid #7d2332; background:#5a0714; overflow:hidden; }
.v_message .v_boxshaw { display:block; border-bottom:1px solid #7d2332; background:#5a0714; overflow:hidden; }
.v_message .v_input1 { width:100%; height:44px; border-right:10px 10px 0 0; border:0; color:#9a3646; outline:0; background:#5a0714; padding:0 10px; box-shadow:0 3px 3px #44050f inset; background-size:20px 20px; }
.v_message .v_btn2 { margin-top:10px;display:block; width:100%; height:40px; line-height:40px; border-radius:5px; background:#ffdf44; color:#bc001f; }
.v_tishi { position:fixed; top:180px; left:43%; margin-left:-50px; width:150px; height:100px; border-radius:10px; background:rgba(0,0,0,0.7); }
.v_tishi .v_icon_5 { display:block; width:22px; height:22px; margin:22px 0 0 64px;background-size:22px 22px; }
.v_tishi .v_p7 { margin-top:10px; color:#ffcf41; }
.v_line_2{background: #eec56f;border-bottom: 1px solid #fff5df;display: inline-block;width: 100%;height: 1px;margin: 5px 0;}
::-webkit-input-placeholder{color: #9a3646;}
.yumi{ margin:150px 15px 0; overflow:hidden;}
.yumi .content{ height:45px; position:relative; overflow:hidden;}
.yumi .content .con1{ position:absolute; top:0; left:0; right:90px; height:43px; border-bottom:1px solid #cccccc; border-top:1px solid #cccccc; border-left:1px solid #cccccc; border-radius:5px 0 0 5px; background:#ffffff;}
.yumi .content .con1 input{ position:absolute; width:100%; height:43px; left:0; top:0; text-indent:10px; font-size:16px; color:#999999;margin:0; padding:0;border:0 none; background:none;}
.yumi .content .con1 input::-webkit-input-placeholder{ color:#999;}
.yumi .content .con2{ position:absolute; top:0; width:88px; right:0; height:43px; background:#7eb9ef; border:1px solid #bc001f; border-radius:0 5px 5px 0; overflow:hidden;}
.yumi .content .con2 input{ position:absolute; width:100%; height:43px; left:0; top:0;font-size:18px; color:#f7f7f7;margin:0; padding:0;border:0 none; background:#bc001f; text-align:center;text-shadow: 0.5px 0.866px 1px rgb( 105, 169, 227 );}
.yumi p.sm{ font-size:12px; line-height:34px; height:34px; color:#ccc; overflow:hidden; position:relative;}
.yumi p.sm:before{ content:''; width:14px; height:14px; left:0; top:50%; margin-top:-7px; position:absolute; background-position:0 -158px;}
