.tp_bgc {
  background: #f7f7f7; }

.sTab {
  height: 43px;
  background-color: #fff;
  border-bottom: 1px solid #d6d6d6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 5px; }
  .sTab ul {
    width: 100%; }
    .sTab ul li {
      float: left;
      position: relative;
      width: 33.33%;
      box-sizing: border-box;
      height: 43px;
      line-height: 43px;
      color: #999999;
      font-size: 14px;
      text-align: center; }
      .sTab ul li a {
        display: block;
        color: #999; }
      .sTab ul li:before {
        position: absolute;
        content: '';
        width: 1px;
        height: 12px;
        overflow: hidden;
        background-color: #d6d6d6;
        top: 16px;
        right: 0; }
      .sTab ul li:last-child:before {
        background-color: #fff; }
      .sTab ul li.cur a {
        color: #cc0033;
        border-bottom: 2px solid #cc0033;
        line-height: 41px; }

.tp_not {
  width: 100%;
  font-size: 16px;
  color: #aaa;
  text-align: center;
  margin-top: 110px;
  display: inline-block; }
  .tp_not p {
    height: 23px;
    line-height: 23px;
    display: inline-block;
    vertical-align: top; }
    .tp_not p i {
      width: 21px;
      height: 21px;
      background: url(../images/tp_not_i.png) no-repeat 9px 3px #ff5952;
      border: 1px solid #dc362f;
      display: inline-block;
      border-radius: 50%;
      margin-right: 6px;
      box-shadow: 1px 1px 2px rgba(4, 0, 0, 0.11);
      background-size: 3px 15px; }

.tp_section, .tp_img, .td04_sec_h2, .tp_sec_bg, .tp_tip {
  width: 100%; }

.tp_h2 {
  font-size: 18px;
  color: #f60;
  margin: 20px 15px 5px;
  display: inline-block; }

.tp_img {
  display: block; }

.tp_col {
  margin: 10px 15px 0; }

.tp_col li {
  line-height: 28px;
  color: #333; }
  .tp_col li span {
    color: #999;
    float: left; }
  .tp_col li p {
    display: table-cell;
    padding-left: 15px;
    color: #333; }
  .tp_col li p.t_color_o {
    color: #ff7200; }

/*tip*/
.tp_tip {
  color: #d21a2b;
  margin-top: 5px;
  background: url(../images/tp_tip.png) no-repeat left 0;
  background-size: 20px 20px;
  display: inline-block; }

.tp_pb15 {
  padding-bottom: 15px; }

.tp_tip1 {
  margin-bottom: 5px;
  padding-bottom: 20px; }

.tp_tip p {
  padding-left: 24px;
  line-height: 20px; }

/*button*/
.tp_button {
  display: block;
  text-align: center;
  color: #fff;
  border-radius: 16px; }

.tp_button1 {
  background: #ff7200;
  margin-top: 15px;
  height: 32px;
  line-height: 32px; }

/*border*/
.tp_border {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0; }

.tp_border_t {
  border-top: 1px solid #f0f0f0; }

.tp_border_b {
  border-bottom: 1px dashed #efefef; }

/*redbag*/
.td04_sec {
  background: #f7f7f7;
  height: 100%;
  width: 100%; }

.td04_sec_h2 {
  font-size: 16px;
  color: #333;
  height: 75px;
  display: inline-block;
  background: #fff1c1;
  line-height: 75px;
  border-top: 1px solid #f0f0f0;
  position: relative; }
  .td04_sec_h2 em {
    color: #ff9f4b; }

/*.td04_sec_h2:after{background: url(../images/td04_sec_h2.jpg) repeat-x transparent;background-size:7px 2px;width: 100%;height: 2px;bottom:-2px;left:0;}*/
.td04_icon {
  position: relative;
  float: left;
  margin: 10px 10px 0 15px; }

/*.td04_icon,.td04_icon:after{width: 55px;height: 55px;display: inline-block;}*/
/*.td04_icon:after{background: url(../images/tp_redbag.png) no-repeat transparent;background-size:49px 50px;top: 6px;left: 3px;}*/
/*.td04_icon:after,.td04_sec_h2:after{content:'';position: absolute;display: inline-block;}*/
.td05_sec_h2 {
  line-height: 18px; }
  .td05_sec_h2 span {
    color: #fff;
    font-size: 12px;
    display: inline-block; }
  .td05_sec_h2 p {
    margin-top: 24px;
    display: block;
    color: #fee900; }

/*sec*/
.tp_sec_mt4 {
  margin-top: 4px; }

.tp_sec_bg {
  background: #fff;
  display: block;
  border-top: 1px solid #f0f0f0; }

.tp_sec_border_b {
  border-bottom: 1px solid #f0f0f0; }

.tp_des {
  width: 70px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  background: #fbb355;
  border-radius: 10px;
  text-align: center;
  margin: 15px 16px 0; }

.tp_des_c {
  border-left: 2px solid #fae7bf;
  margin-left: 35px;
  margin-bottom: 28px;
  padding-top: 20px; }

/*tp_des_c*/
.tp_des_c li {
  font-size: 16px;
  color: #999;
  line-height: 25px;
  position: relative;
  padding: 0 15px;
  margin-top: 22px; }

.tp_des_c li:nth-child(1) {
  margin-top: 0; }

.tp_des_c em {
  width: 17px;
  height: 20px;
  line-height: 20px;
  background: #fbb355;
  border: 3px solid #fae7bf;
  font-size: 16px;
  color: #fff;
  font-style: italic;
  border-radius: 50%;
  display: inline-block;
  padding-left: 4px;
  position: absolute;
  top: 0;
  left: -15px; }

.tp_des_c figure {
  margin: 20px 53px 0 20px; }

.tp_des_c img {
  width: 100%;
  display: block; }

.tp_des_c span {
  font-size: 12px;
  line-height: 19px;
  margin-bottom: 18px;
  display: inline-block; }

.tp_des_c em.tp_des_lh {
  line-height: 10px;
  font-style: normal;
  padding-left: 5px;
  width: 16px; }

/*erweima*/
.tp_erweima {
  text-align: center; }
  .tp_erweima img {
    margin: 0 auto 10px;
    display: block;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1); }
  .tp_erweima span {
    color: #ff7200;
    font-size: 16px; }
  .tp_erweima p {
    text-align: left;
    color: #ccc;
    font-size: 16px;
    margin-bottom: 15px; }
  .tp_erweima span, .tp_erweima p {
    line-height: 25px; }

.tp_sec_pb5 {
  padding-bottom: 5px; }

.tp_p8 {
  padding: 8px 0; }

.tp_pb10 {
  padding-bottom: 10px; }

.tp_mt25 {
  margin-top: 25px; }

.tp_mb15 {
  margin-bottom: 15px; }

.tp_mb28 {
  margin-bottom: 28px; }

.tp_fs12 {
  font-size: 12px; }

.tp_success h2:before, .td04_sec_h3:before, .td04_sec_h3 em.td04_detail:before, .td04_sec_h3 em.td04_detail:after, .t_status:after, .t_s_p:before {
  position: absolute;
  content: '';
  display: inline-block; }

.tp_col.tp_input {
  margin-top: 0; }
  .tp_col.tp_input span, .tp_col.tp_input .tp_input_text {
    height: 44px; }
  .tp_col.tp_input span {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 44px;
    color: #333; }
  .tp_col.tp_input li {
    position: relative;
    border-bottom: 1px solid #f1f1f1;
    height: 44px;
    line-height: 44px;
    padding-left: 56px; }
  .tp_col.tp_input .tp_input_text {
    width: 100%;
    height: 44px;
    border: 0;
    font-size: 14px; }
  .tp_col.tp_input a {
    font-size: 12px; }

.tp_success {
  height: 144px;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  text-align: center; }
  .tp_success h2 {
    font-size: 30px;
    color: #ff9f4b;
    margin: 40px  auto 8px;
    display: inline-block;
    position: relative;
    padding-left: 40px; }
    .tp_success h2:before {
      top: 5px;
      left: -5px;
      width: 32px;
      height: 32px;
      border: 1px solid #ea6900;
      border-radius: 50%;
      background: url(../images/tp_suc_i.png) no-repeat 7px 9px #ff7200;
      background-size: 19px 16px;
      box-shadow: 1px 1px 2px rgba(4, 0, 0, 0.11); }
  .tp_success p {
    font-size: 12px;
    color: #ffc796; }

.tp_target {
  height: 38px;
  font-size: 12px;
  color: #999;
  text-align: center;
  display: inline-block;
  width: 100%;
  line-height: 38px; }

.td04_sec_h3 {
  position: relative;
  height: 88px;
  background-color: #d21a2b;
  margin: 2px 0;
  display: inline-block; }
  .td04_sec_h3:before {
    background: url(../images/td04_sec_h3_t.jpg) repeat-x transparent;
    background-size: 7px 2px;
    width: 100%;
    height: 2px;
    top: -2px;
    left: 0; }
  .td04_sec_h3:after {
    background-image: url(../images/td04_sec_h3_b.jpg); }
  .td04_sec_h3 .td04_icon {
    margin-top: 15px; }
  .td04_sec_h3 em.td04_detail {
    color: #f86a77;
    position: absolute;
    right: 35px;
    top: 35px; }
    .td04_sec_h3 em.td04_detail:before {
      top: -10px;
      left: -15px;
      height: 40px;
      width: 1px;
      background: #ae0a19;
      border-right: 1px solid #ec5462; }
    .td04_sec_h3 em.td04_detail:after {
      top: 3px;
      right: -20px;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background: url(../images/tp_arrow.png) no-repeat 5px 2px #f86a77;
      background-size: 6px 10px; }

.tp_figura {
  margin: 0 96px; }
  .tp_figura img {
    width: 100%; }
  .tp_figura .tp_flnk {
    margin: 20px 0 16px;
    display: inline-block;
    width: 100%; }
    .tp_figura .tp_flnk a {
      font-size: 12px;
      text-decoration: underline; }
      .tp_figura .tp_flnk a:first-child {
        color: #ef4922;
        float: left; }
      .tp_figura .tp_flnk a:last-child {
        color: #26a0df;
        float: right; }

.t_time li, .t_rule li {
  line-height: 22px;
  color: #666;
  font-size: 12px; }
  .t_time li span, .t_rule li span {
    color: #999;
    float: left; }
  .t_time li p, .t_rule li p {
    display: table-cell;
    padding-left: 5px;
    color: #666; }

.t_time ul {
  margin: 9px 12px; }

.t_rule h2 {
  color: #ff7200;
  font-size: 14px;
  line-height: 14px;
  border-left: 2px solid #ff7200;
  margin: 20px 0 0px;
  padding-left: 14px; }
.t_rule h3 {
  margin: 12px 12px 0;
  font-size: 12px; }
.t_rule ul {
  margin: 0 12px; }
.t_rule h3, .t_rule li span {
  color: #666; }
.t_rule p {
  color: #666;
  line-height: 22px;
  padding: 15px 15px 0; }

.t_status {
  position: relative;
  padding: 8px 16px; }
  .t_status li {
    line-height: 28px; }
    .t_status li span {
      color: #999;
      float: left; }
    .t_status li p {
      display: table-cell;
      padding-left: 8px;
      color: #333;
      padding-left: 16px; }
    .t_status li p.t_color_g {
      color: #999; }
    .t_status li p.t_color_o {
      color: #ff7200; }
  .t_status:after {
    width: 10px;
    height: 19px;
    top: 27px;
    right: 15px;
    background: url(../images/t_icon.png) no-repeat;
    background-size: 36px 55px;
    background-position: 0 -36px; }

.t_s_p:before {
  width: 36px;
  height: 36px;
  top: 0;
  right: 0;
  background: url(../images/t_icon.png) no-repeat;
  background-size: 36px 55px;
  background-position: 0 0; }

.tp_title, .tp_erweima, .tp_m16 {
  margin-left: 16px;
  margin-right: 16px; }

.tp_title {
  color: #999;
  margin: 16px; }

.d-form > p {
  height: 40px;
  border-bottom: 1px solid #f1f1f1; }

.d-p1 {
  position: relative;
  z-index: 1; }
  .d-p1 .d-getmark {
    position: absolute;
    z-index: 2;
    top: 4px;
    right: 0;
    width: 100px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #da6206;
    font-size: 13px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #f66f5f; }
    .d-p1 .d-getmark:disabled {
      border: 1px solid #999;
      color: #999; }

.d-p2 .d-inp {
  width: 145px;
  float: left; }
.d-p2 img {
  float: right;
  margin-top: 1px; }
.d-p2 a {
  float: right;
  color: #999;
  margin-left: 5px;
  text-decoration: underline; }

.d-inp {
  width: 100%;
  height: 40px;
  line-height: 40px; }

::webkit-input-placeholder {
  color: #999; }

.t_mt15 {
  margin-top: 15px; }
